In [171]:
### This section will be for Men's Swimming Team ###

import requests
from bs4 import BeautifulSoup
URL = ['https://www.brooklyncollegeathletics.com/sports/mens-swimming-and-diving/roster',
       'https://athletics.baruch.cuny.edu/sports/mens-swimming-and-diving/roster',
       'https://yorkathletics.com/sports/mens-swimming-and-diving/roster']
### iterate through every link and put it in the list)
page=[]
for item in URL:
    page.append(requests.get(item))
    
Parent_List_Height=[]
Parent_List_Height_CM=[]
thenamelist=[]

# Scrap Height of the player
for item in page:
    soup = BeautifulSoup(item.content,'html.parser')
    Menswimming = soup.find_all('span',class_='sidearm-roster-player-height')
    
    Child_List_Height=[]
    for i in Menswimming:
        Child_List_Height.append(i.get_text())    
    Parent_List_Height.append(Child_List_Height)
     
# Scrap name of the player      
for item in page: 
    soup = BeautifulSoup(item.content,'html.parser')
    Menswimmingname = soup.find_all('div',class_='sidearm-roster-player-name')
    for i in Menswimmingname:
        thenamelist.append(i.get_text().strip('\n').strip('C').strip('\n'))
        
### Trimming the duplication of height data ###
Parent_List_Height[0]=Parent_List_Height[0][:12]
Parent_List_Height[1]=Parent_List_Height[1][:23]        
Parent_List_Height[2]=Parent_List_Height[2][:10] 

### Converting Height to cm ###
for item in Parent_List_Height:
    for i in item:
        feet_cm = int(i[0:i.find('\'')])*30.48
        inc_cm = int(i[i.find('\'')+1:i.find('"')])*2.54
        total = total + (feet_cm+inc_cm)
        Parent_List_Height_CM.append(feet_cm+inc_cm)
         
#print(Parent_List_Height_CM)
#print(thenamelist)

### Creating a Dataframe ###
import pandas as pd
menswimmersdf=pd.DataFrame()
menswimmersdf['Name']                           =thenamelist
menswimmersdf['Height']                         =Parent_List_Height_CM

menswimmersdf

                    Name  Height
0        Ronaldo Barrios  187.96
1           Devin Boodha  175.26
2           Nikita  Cary  172.72
3               Alec Chi  177.80
4            Peter Ebert  187.96
5        Andwele Estwick  180.34
6      Omar Hasan- Hafez  185.42
7         hristian Hoyek  182.88
8     Konstantin Lomeyko  172.72
9        Mark  MacEachen  193.04
10            James Rupa  177.80
11    Akmalijon Salimov   175.26
12        Gregory Becker  195.58
13      Nicholas  Blanco  177.80
14            Kevin Chen  175.26
15         Gary Danilyan  187.96
16          Kasper Gacek  195.58
17        David Gazaryan  177.80
18    Matthew Greenfield  172.72
19      Julio  Hernandez  172.72
20   Jonathan  Jaramillo  177.80
21          Erik  Kantar  175.26
22    Fernando Marroquin  170.18
23      David Matskovsky  187.96
24              Eddy Min  182.88
25        Eli Mogorichev  182.88
26     Jose Munoz Aycart  180.34
27          Evan Nikolic  190.50
28      Dayan  Ordabayev  177.80
29          Luca Rivitti  177.80
30            Ben Sionov  165.10
31          Julian Tineo  185.42
32        Peter Tzotchev  175.26
33         Joseph Vasile  170.18
34       Morgan  Welling  190.50
35        Ti’Juan Boothe  172.72
36       Jaquan Eleazard  175.26
37       Arafath Hussain  172.72
38        Anthony Jordan  170.18
39       Antonio Josephs  187.96
40     hristopher Mendez  170.18
41  Anthony Nazario, Jr.  175.26
42          Jeremy Sapeg  175.26
43         Jamaar Watson  185.42
44           Alex Winter  182.88

In [173]:
mean = menswimmersdf['Height'].mean()
highest_menswimmersdf = menswimmersdf.nlargest(5, 'Height')
smallest_menswimmersdf = menswimmersdf.nsmallest(5, ['Height'])
print ("Average Men Swimmers Team {} cm".format(mean))
print("\n5 highest Men Swimmers height\n",highest_menswimmersdf)
print("\n5 smallest Men Swimmers height\n",smallest_menswimmersdf)

Average Men Swimmers Team 179.60622222222233 cm

5 highest Men Swimmers height
                Name  Height
12   Gregory Becker  195.58
16     Kasper Gacek  195.58
9   Mark  MacEachen  193.04
27     Evan Nikolic  190.50
34  Morgan  Welling  190.50

5 smallest Men Swimmers height
                   Name  Height
30          Ben Sionov  165.10
22  Fernando Marroquin  170.18
33       Joseph Vasile  170.18
38      Anthony Jordan  170.18
40   hristopher Mendez  170.18

In [80]:
### This section will be for Women's Swimming Team ###

import requests
from bs4 import BeautifulSoup
URL = ['https://www.brooklyncollegeathletics.com/sports/womens-swimming-and-diving/roster',
       'https://athletics.baruch.cuny.edu/sports/womens-swimming-and-diving/roster',
       'https://queensknights.com/sports/womens-swimming-and-diving/roster']
### iterate through every link and put it in the list)
page=[]
for item in URL:
    page.append(requests.get(item))
    
Parent_List_Height=[]
Parent_List_Height_CM=[]
thenamelist=[]

# Scrap Height of the player
for item in page:
    soup = BeautifulSoup(item.content,'html.parser')
    womenswimming = soup.find_all('span',class_='sidearm-roster-player-height')
    
    Child_List_Height=[]
    for i in womenswimming:
        Child_List_Height.append(i.get_text())    
    Parent_List_Height.append(Child_List_Height)
     
# Scrap name of the player      
for item in page: 
    soup = BeautifulSoup(item.content,'html.parser')
    womenswimmingname = soup.find_all('div',class_='sidearm-roster-player-name')
    for i in womenswimmingname:
        thenamelist.append(i.get_text().strip('\n').strip('C').strip('\n'))
        
### Trimming the duplication of height data ###
Parent_List_Height[0]=Parent_List_Height[0][:10]
Parent_List_Height[1]=Parent_List_Height[1][:17]        
Parent_List_Height[2]=Parent_List_Height[2][:13] 

### Converting Height to cm ###
for item in Parent_List_Height:
    for i in item:
        feet_cm = int(i[0:i.find('\'')])*30.48
        inc_cm = int(i[i.find('\'')+1:i.find('"')])*2.54
        total = total + (feet_cm+inc_cm)
        Parent_List_Height_CM.append(feet_cm+inc_cm)
         
#print(Parent_List_Height_CM)
#print(thenamelist)

### Creating a Dataframe ###
import pandas as pd
womenswimmersdf=pd.DataFrame()
womenswimmersdf['Name']                           =thenamelist
womenswimmersdf['Height']                         =Parent_List_Height_CM

womenswimmersdf

                    Name  Height
0         Semona Bardman  167.64
1   Angella  Christopher  170.18
2            Anna Curran  160.02
3     Rachel  Davidovich  162.56
4    Shenaika Eliassaint  180.34
5           Julie  Huang  154.94
6       Natalia Mrzyglod  165.10
7         Stella  Ryklis  167.64
8          Alyssa Taylor  175.26
9            Emily  Yang  157.48
10   Stephanie  Antonova  154.94
11      Nicole Astudillo  157.48
12          Andrea Gasic  175.26
13          Onika George  177.80
14           Karina Gotz  170.18
15    Asimina Hamakiotes  175.26
16  Mirtho-Myra Lamonier  154.94
17            Amanda Lee  152.40
18            Iris Leung  160.02
19             Debbie Li  160.02
20            Megan Liew  162.56
21          Ashley Louke  162.56
22      Nicole Ousmanova  167.64
23      Leslibeth Romero  170.18
24         Alicia Soares  154.94
25      Nicole  Tarasiuk  170.18
26             Gloria Wu  160.02
27      Gabriela Almeida  160.02
28           Marin Azhar  154.94
29      Alyssa Budzynski  172.72
30         Brigitti Cruz  167.64
31     Danielle D'Angelo  167.64
32           Megan Dawes  172.72
33           Sekyi Dolma  160.02
34        helsy Espinosa  165.10
35       Amanda Giordano  165.10
36            Naomi Oken  162.56
37          Allie Stanya  170.18
38  Gabriella Vicidomini  162.56
39             Lily Wilk  160.02

In [81]:
mean = womenswimmersdf['Height'].mean()
highest_womenswimmersdf = womenswimmersdf.nlargest(5, 'Height')
smallest_womenswimmersdf = womenswimmersdf.nsmallest(5, ['Height'])
print ("Average Women Swimmers Team {} cm".format(mean))
print("\n5 highest Women Swimmers height\n",highest_womenswimmersdf)
print("\n5 smallest Women Swimmers height\n",smallest_womenswimmersdf)

Average Women Swimmers Team 164.7190000000001 cm

5 highest Women Swimmers height
                    Name  Height
4   Shenaika Eliassaint  180.34
13         Onika George  177.80
8         Alyssa Taylor  175.26
12         Andrea Gasic  175.26
15   Asimina Hamakiotes  175.26

5 smallest Women Swimmers height
                     Name  Height
17            Amanda Lee  152.40
5           Julie  Huang  154.94
10   Stephanie  Antonova  154.94
16  Mirtho-Myra Lamonier  154.94
24         Alicia Soares  154.94

In [165]:
### This section will be for Men's Volleyball Team ###

import requests
from bs4 import BeautifulSoup
URL = ['https://www.brooklyncollegeathletics.com/sports/mens-volleyball/roster/2019',
       'https://athletics.baruch.cuny.edu/sports/mens-volleyball/roster',
       'https://yorkathletics.com/sports/mens-volleyball/roster']
### iterate through every link and put it in the list)
page=[]
for item in URL:
    page.append(requests.get(item))
    
Parent_List_Height=[]
Parent_List_Height_CM=[]
thenamelist=[]

# Scrap Height of the player
for item in page:
    soup = BeautifulSoup(item.content,'html.parser')
    Mensvolleyball = soup.find_all('span',class_='sidearm-roster-player-height')
    
    Child_List_Height=[]
    for i in Mensvolleyball:
        Child_List_Height.append(i.get_text())    
    Parent_List_Height.append(Child_List_Height)
     
# Scrap name of the player
import re

for item in page: 
    soup = BeautifulSoup(item.content,'html.parser')
    Mensvolleyballname = soup.find_all('div',class_='sidearm-roster-player-name')
    for i in Mensvolleyballname:
        thenamelist.append(i.h3.get_text().replace('\n','').replace('\t','').replace('\r',''))
    
        
### Trimming the duplication of height data ###
Parent_List_Height[0]=Parent_List_Height[0][:9]
Parent_List_Height[1]=Parent_List_Height[1][:17]        
Parent_List_Height[2]=Parent_List_Height[2][:14] 

### Converting Height to cm ###
for item in Parent_List_Height:
    for i in item:
        feet_cm = int(i[0:i.find('\'')])*30.48
        inc_cm = int(i[i.find('\'')+1:i.find('"')])*2.54
        total = total + (feet_cm+inc_cm)
        Parent_List_Height_CM.append(feet_cm+inc_cm)
         
#print(Parent_List_Height_CM)
#print(thenamelist)

### Creating a Dataframe ###
import pandas as pd
mensvolleyballdf=pd.DataFrame()
mensvolleyballdf['Name']                           =thenamelist
mensvolleyballdf['Height']                         =Parent_List_Height_CM

mensvolleyballdf

                    Name  Height
0          Snigdho Hasan  165.10
1      Michael  Valentin  175.26
2          Andres Vargas  182.88
3         Jasper Diangco  177.80
4        Sayuj Zachariah  187.96
5           Omar  Rezika  187.96
6         Gabriel Pjatak  190.50
7           Ryan  Chabel  180.34
8       Utku  Tanritanir  182.88
9             QiQin Zeng  175.26
10       Andrew Tsororos  193.04
11          Steven Lopez  182.88
12          Sonam Dorjee  177.80
13       Edward Grinberg  187.96
14       David Sirchenko  190.50
15      Stallone Shankar  182.88
16   Rabsang Andrugtsang  177.80
17            Hanbin Lee  175.26
18          Artem Zinkin  195.58
19       Michael Higgins  193.04
20      Carlos Rodriguez  193.04
21      Leon Petrovitsky  195.58
22            Defeng Han  185.42
23            Evan Takos  190.50
24         Meni Musheyev  190.50
25       Justin Iloulian  187.96
26            John Vitor  167.64
27        Juan Rodriguez  167.64
28          Shawn Nemoto  170.18
29          Erick Ortega  172.72
30           Akil Vaughn  195.58
31           Justin Saji  177.80
32     Jayden Deokinanan  162.56
33       Mambe Koureissi  193.04
34  Anthony Nazario, Jr.  175.26
35          Olawale Kila  193.04
36   David Heyliger, Jr.  185.42
37   Guillermo Hernandez  193.04
38     Fatmir Glavatovic  182.88
39        Ti’Juan Boothe  172.72

In [166]:
mean = mensvolleyballdf['Height'].mean()
highest_mensvolleyballdf = mensvolleyballdf.nlargest(5, 'Height')
smallest_mensvolleyballdf = mensvolleyballdf.nsmallest(5, ['Height'])
print ("Average Men volleyball Team {} cm".format(mean))
print("\n5 highest Men volleyball height\n",highest_mensvolleyballdf)
print("\n5 smallest Men volleyball height\n",smallest_mensvolleyballdf)

Average Men volleyball Team 182.88000000000005 cm

5 highest Men volleyball height
                 Name  Height
18      Artem Zinkin  195.58
21  Leon Petrovitsky  195.58
30       Akil Vaughn  195.58
10   Andrew Tsororos  193.04
19   Michael Higgins  193.04

5 smallest Men volleyball height
                  Name  Height
32  Jayden Deokinanan  162.56
0       Snigdho Hasan  165.10
26         John Vitor  167.64
27     Juan Rodriguez  167.64
28       Shawn Nemoto  170.18

In [164]:
### This section will be for Women's Volleyball Team ###

import requests
from bs4 import BeautifulSoup
URL = ['https://www.brooklyncollegeathletics.com/sports/womens-volleyball/roster/2019',
       'https://athletics.baruch.cuny.edu/sports/womens-volleyball/roster',
       'https://johnjayathletics.com/sports/womens-volleyball/roster']
### iterate through every link and put it in the list)
page=[]
for item in URL:
    page.append(requests.get(item))
    
Parent_List_Height=[]
Parent_List_Height_CM=[]
thenamelist=[]

# Scrap Height of the player
for item in page:
    soup = BeautifulSoup(item.content,'html.parser')
    Womensvolleyball = soup.find_all('span',class_='sidearm-roster-player-height')
    
    Child_List_Height=[]
    for i in Womensvolleyball:
        Child_List_Height.append(i.get_text())    
    Parent_List_Height.append(Child_List_Height)
     
# Scrap name of the player
import re

for item in page: 
    soup = BeautifulSoup(item.content,'html.parser')
    Womensvolleyballname = soup.find_all('div',class_='sidearm-roster-player-name')
    for i in Womensvolleyballname:
        thenamelist.append(i.h3.get_text().replace('\n','').replace('\t','').replace('\r',''))
    
        
### Trimming the duplication of height data ###
Parent_List_Height[0]=Parent_List_Height[0][:13]
Parent_List_Height[1]=Parent_List_Height[1][:14]        
Parent_List_Height[2]=Parent_List_Height[2][:11] 

### Converting Height to cm ###
for item in Parent_List_Height:
    for i in item:
        feet_cm = int(i[0:i.find('\'')])*30.48
        inc_cm = int(i[i.find('\'')+1:i.find('"')])*2.54
        total = total + (feet_cm+inc_cm)
        Parent_List_Height_CM.append(feet_cm+inc_cm)
         
#print(Parent_List_Height_CM)
#print(thenamelist)

### Creating a Dataframe ###
import pandas as pd
Womensvolleyballdf=pd.DataFrame()
Womensvolleyballdf['Name']                           =thenamelist
Womensvolleyballdf['Height']                         =Parent_List_Height_CM

Womensvolleyballdf

                        Name  Height
0             Inesa Shimcani  165.10
1                Ashley Fung  170.18
2                 Rain Zhang  167.64
3        Yana Shaposhnikova   160.02
4                 Ezri  Shor  165.10
5              Madison Cronk  180.34
6                 Laurie Lee  157.48
7           Nohelia  Cedeno   172.72
8             Alejandra Chen  170.18
9   Savanna Koutsakis-Keener  154.94
10            Alanis Guinada  162.56
11     Megan Ortiz-Mengedoht  177.80
12              Kate Meltsin  162.56
13                 Yijia Cai  177.80
14      Jasmin Vidal Ventura  157.48
15            Stella  Chung   167.64
16           Claudia Daporta  182.88
17             Anita Sengara  180.34
18               Young Gi Go  152.40
19                 Wai Chang  162.56
20           Anesa Feratovic  167.64
21               Claudia Moi  165.10
22             Sanaa  Hadjeb  170.18
23                 Cindy Cui  162.56
24                  Cady Xia  154.94
25                   Ada Cao  167.64
26            Katherine Chen  170.18
27            Stephany Chhay  157.48
28           Niovis Monsanto  177.80
29          Sonam Nematullah  157.48
30     Haley Potvin-Sanjurjo  167.64
31         Mirialis Almanzar  182.88
32          Jamarie Silverio  170.18
33            Freysha Rivera  167.64
34             Autumn Reeves  187.96
35            Sophia Wheelan  182.88
36             Karen Sumlang  172.72
37        Kimberly Rodriguez  170.18

In [167]:
mean = Womensvolleyballdf['Height'].mean()
highest_Womensvolleyballdf = Womensvolleyballdf.nlargest(5, 'Height')
smallest_Womensvolleyballdf = Womensvolleyballdf.nsmallest(5, ['Height'])
print ("Average Women volleyball Team {} cm".format(mean))
print("\n5 highest Women volleyball height\n",highest_Womensvolleyballdf)
print("\n5 smallest Women volleyball height\n",smallest_Womensvolleyballdf)

Average Women volleyball Team 168.44210526315797 cm

5 highest Women volleyball height
                  Name  Height
34      Autumn Reeves  187.96
16    Claudia Daporta  182.88
31  Mirialis Almanzar  182.88
35     Sophia Wheelan  182.88
5       Madison Cronk  180.34

5 smallest Women volleyball height
                         Name  Height
18               Young Gi Go  152.40
9   Savanna Koutsakis-Keener  154.94
24                  Cady Xia  154.94
6                 Laurie Lee  157.48
14      Jasmin Vidal Ventura  157.48